/.metadata/
/Aula-Praticando-Java-Scene-Builder/Imprimindo_Mensagem/build/
/Aula-Praticando-Java-Scene-Builder/Imprimindo_Mensagem/dist/
/Aula-Praticando-Java-Scene-Builder/MostrandoAlert/nbproject/private/
/Aula-Praticando-Java-Scene-Builder/MostrandoAlert/build/
/Aula-Praticando-Java-Scene-Builder/MostrandoAlert/dist/